[Unit]
Description=VastAi Stats Service
After=network.target

[Service]
Type=simple
User=vast
ExecStart=/usr/bin/python3 /var/lib/vast-stats/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
