[Unit]
Description=VastAi Stats Service
After=network.target

[Service]
Type=simple
User=vast
WorkingDirectory=/var/lib/vast-stats
ExecStart=python3 main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
