[Unit]
Description=VastAi Stats Service
After=network.target

[Service]
Type=simple
ExecStart=/var/lib/vast-stats/service/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
